@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

section#como li {
    width: 100%;
    margin-bottom: 3vh;
    text-align: justify;
    font-family: "roboto", sans-serif;
    font-size: 1.1rem;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    list-style-position: inside;
}

blockquote {
    width: 100%;
    margin-bottom: 3vh;
    text-align: justify;
    font-family: "roboto", sans-serif;
    font-size: 1.1rem;
    border: none;
    background: none;
    padding: 0;
    color: inherit;
}

.main-dizimos-ofertas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-main-dizimos-ofertas {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_dizimos_ofertas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 4vh 0 3vh;
    font-family: 'Bebas neue';
    font-size: 2.7em;
    color: #003366;
    font-weight: 500;
}

h3 {
    margin: 4vh 0 3vh;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.4em;
    color: #003366;
    font-weight: 600;
}

p {
    width: 100%;
    margin-bottom: 3vh;
    text-align: justify;
    font-family: "roboto", sans-serif;
    font-size: 1.1rem;
}

.topicos_dizimos_ofertas {
    margin-left: 20px;
}

.topicos_dizimos_ofertas li {
    list-style-type: disc;
}

.referencia-biblica {
    display: block;
    text-align: right;
    font-size: 0.98em;
    font-style: italic;
    margin-top: 4px;
}

.container_text_dizimos_ofertas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    width: 100%;
    margin-bottom: 2vh;
}

.seven_me a{
    margin-left: 6px;
    text-transform: none;
    color: #003366;
    font-weight: 500;
    font-size: 1.17em;
}