footer{
    background-color: #001531;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}

footer h2{
    font-family: 'Bebas neue', 'Arial Narrow', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #f9f8f0;
    text-align: center;
    font-size: 2.1em;
    padding: 4vh 0 0;
}

footer p{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9em;
}

.img_rodape{
    width: 25%;
    display: flex;
    justify-content: center;
}

.img_rodape img{
    width: 100%;
}

.contato{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato iframe{
    aspect-ratio: 600/450;
    width: 60%;
    border-radius: 10px;
}

.info_contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_contato img{
    width: 20%;
}

.redes_e_atend{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes_e_atend img{
    background-color: #f9f8f0;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 790px){
    footer{
        flex-direction: column;
        align-items: center;
    }

    .img_rodape{
        width: 50%;
        order: 3;
    }

    .contato{
        width: 100%;
    }

    .contato iframe{
        width: 70%;
    }

    .redes_e_atend{
        width: 100%;
    }
}