@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

header img{
    width: 20%;
    margin: 10px 0 10px 20px;
}

nav{
    width: 70%;
    display: flex;
    justify-content: center;
}

nav ul{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
    position: relative;
}

li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    font-family: "roboto", sans-serif;
}

li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #003366;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.8s;
    z-index: 11;
}


li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

ul li ul.dropdown li{
    display: block;
    margin: 15px 15px;
}

ul li ul.dropdown{
    width: max-content;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    display: none;
    border-radius: 0 10px 10px;
    box-shadow: 5px 5px 10px #000;
}

li:hover ul.dropdown{
    display: block;
}


.container_por_do_sol{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_por_do_sol img{
    aspect-ratio: 1/1;
    width: 18%;
    margin: 0;
    margin-right: 5px;
}

.container_por_do_sol h5{
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.menu-toggle{
    display: none;
    font-size: 2.4rem;
    cursor: pointer;
}

#bxicon{
    display: flex;
}

@media (max-width: 1050px){
    nav ul{
        width: 80%;
    }
}

@media (max-width: 890px){
    nav ul{
        width: 90%;
    }
}

@media (max-width: 800px){
    .container_por_do_sol{
        display: none;
    }

    .menu-toggle{
        display: flex;
        padding-right: 20px;
    }
    
    .navegation{
        display: none;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 12;
        padding-bottom: 2vh;
    }

    .navegation ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;
    }

    li{
        margin-top: 20px;
        width: 100%;
    }

    .navegation.active{
        display: flex;
        align-items: center;
        position: absolute;
    }

    ul li ul.dropdown{
        display: none;
        position: relative;
        padding-left: 20px;
    }

    li:hover ul.dropdown{
        display: none;
    }

    ul li ul.dropdown.ativo{
        display: block;
    }

    ul li ul.dropdown{
        background: transparent;
        box-shadow: none;
    }
}