.slider{
    width: 100%;
    aspect-ratio: 1920/700;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 100%;
    max-width: 85.72vw;
    height: 100%;
    object-fit: cover;
}

.buttons{
    position: relative;
    left: 1%;
    top: 45%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    color: #000;
    background-color: transparent;
    font-family: monospace;
    font-weight: bold;
}

.dots{
    position: absolute;
    top: 85%;
    color: #fff;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

.span_cards{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_cards{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 3vh;
    flex-wrap: wrap;
}

.card{
    width: 28%;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 6px 5px 20px #6b6b6b;
    position: relative;
    margin-bottom: 3.5em;
}

.card img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card h2{
    font-family: 'Bebas neue', 'Arial Narrow', sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding: 0 15px;
}

.card p{
    text-align: start;
    margin: 10px 0 30px;
    padding: 0 15px;
}

.card a{
    text-decoration: none;
    border: 2px solid #003366;
    background-color: #003366;
    border-radius: 7px;
    color: #fff;
    padding: 5px 12px;
    margin-top: 5px;
    margin-left: 15px;
    position: absolute;
    bottom: 10px;
    transition: .1s ease-in-out;
}

.card a:hover{
    background-color: #fff;
    color: #003366;
}

.btn_canais{
    display: flex;
}

.btn_canais button{
    background-color: #a7c2ff;
    color: #003366;
    padding: 5px 20px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: none;
}

.btn_canais button:hover{
    background-color: #003366;
    color: #fff;
}

.btn_canais button.ativo {
    background-color: #1b4472;
    color: #fff;
    font-weight: bold;
}

.youtube{
    width: 100%;
    background-color: #1b4472;
    padding-bottom: 5em;
}

.youtube h2{
    padding: 15px 0 20px 2.1vw;
    font-family: 'Bebas neue';
    font-size: 2.4em;
    color: #f9f8f0;
    font-weight: 500;
}

.content_yt{
    width: 100%;
    display: flex;

}

.yt_ao_vivo{
    width: 55%;
    padding-left: 2vw;
    display: flex;
    align-items: center;
}

.yt_ao_vivo iframe{
    width: 90%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

.yt_em_breve{
    width: 45%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumb_em_breve{
    display: flex;
    align-items: center;
}

.thumb_em_breve img{
    width: 30%;
    border-radius: 10px;
    aspect-ratio: 16/9;
}

.thumb_em_breve a{
    text-decoration: none;
    color: #fff;
    margin-left: 8px;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 500;
}

.content_insta{
    width: 100%;
    display: flex;
    background-color: #1b4472;
}

.content_insta h2{
    padding: 15px 0 20px 2.1vw;
    font-family: 'Bebas neue';
    font-size: 2.4em;
    color: #f9f8f0;
    font-weight: 500;
}

@media (max-width: 1100px){
    .list img{
        width: 100vw;
        max-width: 100vw;
    }

    .buttons{
        top: 40%;
    }

}

@media (max-width: 700px){
    .card{
        width: 45%;
    }

    .content_yt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .yt_ao_vivo{
        width: 80%;
        padding: 0;
    }

    .yt_ao_vivo iframe{
        width: 100%;
    }

    .yt_em_breve{
        width: 80%;
        padding: 0;
    }

    .thumb_em_breve{
        margin-top: 4vh;
    }

    .thumb_em_breve a{
        font-size: 1em;
    }
}

@media (max-width: 500px){
    .buttons{
        top: 38%;
    }

    .dots{
        top: 80%;
    }
}

@media (max-width: 470px){
    .card{
        width: 90%;
    }

    .buttons{
        top: 35%;
    }

    .dots{
        top: 70%;
    }
}